* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* primary colors */
  --clr-Red: hsl(0, 78%, 62%);
  --clr-Cyan: hsl(180, 62%, 55%);
  --clr-Orange: hsl(34, 97%, 64%);
  --clr-Blue: hsl(212, 86%, 64%);

  /* neutral colors */
  --clr-Very-Dark-Blue: hsl(234, 12%, 34%);
  --clr-Grayish-Blue: hsl(229, 6%, 66%);
  --clr-VeryLight-Gray: hsl(0, 0%, 98%);
}

body {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-VeryLight-Gray);
}

.header {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.header-top {
  font-size: 30px;
  color: var(--clr-Grayish-Blue);
  font-weight: lighter;
}

.header-main {
  font-size: 30px;
  color: var(--clr-Very-Dark-Blue);
  font-weight: 600;
  margin-top: 10px;
}

.header-text {
  color: var(--clr-Grayish-Blue);
  text-align: center;
  line-height: 30px;
}

.section {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 45px;
}

.sub-heading {
  color: var(--clr-Very-Dark-Blue);
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
}

.left,
.right,
.center-top,
.center-bottom {
  padding: 25px;
  box-shadow: 5px 5px 40px 5px var(--clr-Grayish-Blue);
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left {
  border-top: 3px solid var(--clr-Cyan);
}

.right {
  border-top: 3px solid var(--clr-Blue);
}

.center-top {
  border-top: 3px solid var(--clr-Red);
}

.center-bottom {
  border-top: 3px solid var(--clr-Orange);
}

.content {
  color: var(--clr-Grayish-Blue);
}

.icons {
  width: 50px;
  height: 50px;
  margin-top: auto;
  align-self: flex-end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  .section {
    flex-direction: column;
  }
  .header {
    width: 100%;
    margin: 20px;
  }
  .header-text {
    margin-top: 15px;
  }
  body {
    padding-bottom: 60px;
  }
}
